In [1]:
import pandas as pd
import numpy as np
from os import walk

In [5]:
names = ['squareId','timeInterval','countryCode','smsIn','smsOut','callIn','callOut','Internet']

In [2]:
def readDir(dir_,names):
    #used to read all the files in a dir and return list of panda DataFrames
    #input dirpath and headers for dataFrames
    #output list of dataFrames
    result = []
    for _,_,file in walk(dir_):
        for f in file:
            data = pd.read_table(dir_+'/'+f,names = names)
            result.append(data)
    print('Reading Finished. There are '+str(len(result))+' files in all.')
    return result

In [6]:
Nov = []
dir_ = '../data/raw/milan/sms-call-internet-mi/sms-call-internet-mi-Nov'
for _,_,file in walk(dir_):
    for f in file:
        data = pd.read_table(dir_+'/'+f,names = names)
        Nov.append(data)
    print('Reading Finished. There are '+str(len(Nov))+' files in all.')

Reading Finished. There are 30 files in all.

In [7]:
Dec = []
dir_ = '../data/raw/milan/sms-call-internet-mi/sms-call-internet-mi-Dec'
for _,_,file in walk(dir_):
    for f in file:
        data = pd.read_table(dir_+'/'+f,names = names)
        Dec.append(data)
    print('Reading Finished. There are '+str(len(Dec))+' files in all.')

Reading Finished. There are 32 files in all.

In [43]:
Nov[1].shape

(4745086, 8)

In [21]:
timeseries = set(Nov[0].timeInterval)

In [27]:
t = list(timeseries)

In [28]:
t.sort()

In [29]:
t

[1383260400000,
 1383261000000,
 1383261600000,
 1383262200000,
 1383262800000,
 1383263400000,
 1383264000000,
 1383264600000,
 1383265200000,
 1383265800000,
 1383266400000,
 1383267000000,
 1383267600000,
 1383268200000,
 1383268800000,
 1383269400000,
 1383270000000,
 1383270600000,
 1383271200000,
 1383271800000,
 1383272400000,
 1383273000000,
 1383273600000,
 1383274200000,
 1383274800000,
 1383275400000,
 1383276000000,
 1383276600000,
 1383277200000,
 1383277800000,
 1383278400000,
 1383279000000,
 1383279600000,
 1383280200000,
 1383280800000,
 1383281400000,
 1383282000000,
 1383282600000,
 1383283200000,
 1383283800000,
 1383284400000,
 1383285000000,
 1383285600000,
 1383286200000,
 1383286800000,
 1383287400000,
 1383288000000,
 1383288600000,
 1383289200000,
 1383289800000,
 1383290400000,
 1383291000000,
 1383291600000,
 1383292200000,
 1383292800000,
 1383293400000,
 1383294000000,
 1383294600000,
 1383295200000,
 1383295800000,
 1383296400000,
 1383297000000,
 1383297600000,
 1383298200000,
 1383298800000,
 1383299400000,
 1383300000000,
 1383300600000,
 1383301200000,
 1383301800000,
 1383302400000,
 1383303000000,
 1383303600000,
 1383304200000,
 1383304800000,
 1383305400000,
 1383306000000,
 1383306600000,
 1383307200000,
 1383307800000,
 1383308400000,
 1383309000000,
 1383309600000,
 1383310200000,
 1383310800000,
 1383311400000,
 1383312000000,
 1383312600000,
 1383313200000,
 1383313800000,
 1383314400000,
 1383315000000,
 1383315600000,
 1383316200000,
 1383316800000,
 1383317400000,
 1383318000000,
 1383318600000,
 1383319200000,
 1383319800000,
 1383320400000,
 1383321000000,
 1383321600000,
 1383322200000,
 1383322800000,
 1383323400000,
 1383324000000,
 1383324600000,
 1383325200000,
 1383325800000,
 1383326400000,
 1383327000000,
 1383327600000,
 1383328200000,
 1383328800000,
 1383329400000,
 1383330000000,
 1383330600000,
 1383331200000,
 1383331800000,
 1383332400000,
 1383333000000,
 1383333600000,
 1383334200000,
 1383334800000,
 1383335400000,
 1383336000000,
 1383336600000,
 1383337200000,
 1383337800000,
 1383338400000,
 1383339000000,
 1383339600000,
 1383340200000,
 1383340800000,
 1383341400000,
 1383342000000,
 1383342600000,
 1383343200000,
 1383343800000,
 1383344400000,
 1383345000000,
 1383345600000,
 1383346200000]

In [41]:
for i,n in enumerate(t[1:]):
    #print(i,n,t[1:][i-1])
    if not n == t[1:][i-1]+600000:
        print(i,'missing ',t[i-1]+600000)

0 missing  1383346800000

In [42]:
Nov[0].fillna(0)

,squareId,timeInterval,countryCode,smsIn,smsOut,callIn,callOut,Internet
0,1,1383260400000,0,0.081363,0.000000,0.000000,0.000000,0.000000
1,1,1383260400000,39,0.141864,0.156787,0.160938,0.052275,11.028366
2,1,1383261000000,0,0.136588,0.000000,0.000000,0.027300,0.000000
3,1,1383261000000,33,0.000000,0.000000,0.000000,0.000000,0.026137
4,1,1383261000000,39,0.278452,0.119926,0.188777,0.133637,11.100963
5,1,1383261600000,0,0.053438,0.000000,0.000000,0.000000,0.000000
6,1,1383261600000,39,0.330641,0.170952,0.134176,0.054601,10.892771
7,1,1383262200000,0,0.026137,0.000000,0.000000,0.000000,0.000000
8,1,1383262200000,39,0.681434,0.220815,0.027300,0.053438,8.622425
9,1,1383262800000,0,0.027300,0.000000,0.000000,0.000000,0.000000
10,1,1383262800000,39,0.243378,0.192891,0.053438,0.080738,8.009927
11,1,1383263400000,0,0.027300,0.000000,0.000000,0.000000,0.000000
12,1,1383263400000,39,0.056388,0.243378,0.027300,0.027300,8.118420
13,1,1383264000000,0,0.029712,0.000000,0.000000,0.003575,0.000000
14,1,1383264000000,39,0.135339,0.084937,0.053438,0.001787,8.026270
15,1,1383264600000,0,0.027300,0.000000,0.000000,0.000000,0.000000
16,1,1383264600000,39,0.188777,0.026137,0.001787,0.054601,8.514179
17,1,1383265200000,39,0.242215,0.160314,0.108039,0.026137,6.833425
18,1,1383265800000,0,0.027300,0.000000,0.000000,0.027300,0.000000
19,1,1383265800000,39,0.294490,0.245704,0.027300,0.080738,6.554605
20,1,1383266400000,0,0.026137,0.000000,0.000000,0.000000,0.000000
21,1,1383266400000,39,0.108039,0.108039,0.000000,0.000000,7.338716
22,1,1383267000000,0,0.027300,0.000000,0.000000,0.000000,0.000000
23,1,1383267000000,39,0.057013,0.144900,0.000000,0.000000,6.779705
24,1,1383267600000,39,0.139538,0.055225,0.000000,0.000000,7.192162
25,1,1383268200000,39,0.000000,0.053438,0.000000,0.027300,7.503314
26,1,1383268800000,39,0.027300,0.054601,0.027925,0.000000,6.169534
27,1,1383269400000,0,0.027300,0.000000,0.000000,0.000000,0.000000
28,1,1383269400000,39,0.059963,0.056388,0.000000,0.029088,7.605452
29,1,1383270000000,39,0.134176,0.053438,0.000000,0.053438,6.569565
...,...,...,...,...,...,...,...,...
4842595,9999,1383340200000,39,0.642613,1.765744,0.314223,0.370264,33.069132
4842596,9999,1383340200000,49,0.000000,0.000000,0.000000,0.144481,0.000000
4842597,9999,1383340800000,0,0.485153,0.085995,0.000000,0.000000,0.000000
4842598,9999,1383340800000,233,0.000000,0.000000,0.000000,0.085995,0.000000
4842599,9999,1383340800000,39,0.841259,0.756830,0.196040,0.264556,22.567188
4842600,9999,1383340800000,88239,0.000000,0.000000,0.000000,0.000000,0.085995
4842601,9999,1383341400000,0,0.100702,0.000000,0.000000,0.000000,0.000000
4842602,9999,1383341400000,20,0.171990,0.000000,0.000000,0.000000,0.000000
4842603,9999,1383341400000,39,0.292944,0.159189,0.311450,0.402466,20.574368
4842604,9999,1383342000000,0,0.014708,0.000000,0.000000,0.000000,0.000000
4842605,9999,1383342000000,212,0.000000,0.000000,0.085995,0.000000,0.000000
4842606,9999,1383342000000,39,0.165760,0.185132,0.144481,0.100702,22.125948
4842607,9999,1383342600000,0,0.100702,0.000000,0.000000,0.000000,0.000000
4842608,9999,1383342600000,39,0.189469,0.171990,0.275464,0.333951,20.639910
4842609,9999,1383343200000,0,0.144481,0.000000,0.000000,0.000000,0.000000
4842610,9999,1383343200000,221,0.000000,0.000000,0.000000,0.085995,0.000000
4842611,9999,1383343200000,39,0.316814,1.185237,0.308678,0.144481,26.315556
4842612,9999,1383343800000,0,0.151707,0.000000,0.000000,0.000000,0.000000
4842613,9999,1383343800000,221,0.000000,0.000000,0.085995,0.085995,0.000000
4842614,9999,1383343800000,39,0.316471,0.201405,0.014708,0.505940,21.370823
4842615,9999,1383344400000,0,0.085995,0.000000,0.000000,0.000000,0.000000
4842616,9999,1383344400000,20,0.085995,0.000000,0.000000,0.000000,0.000000
4842617,9999,1383344400000,39,0.237047,0.883670,0.186697,0.438452,21.788302
4842618,9999,1383345000000,0,0.088767,0.000000,0.000000,0.000000,0.000000
4842619,9999,1383345000000,39,1.065164,0.586571,0.303670,0.144481,19.047994
4842620,9999,1383345600000,0,0.159189,0.000000,0.000000,0.000000,0.000000
4842621,9999,1383345600000,33,0.014708,0.000000,0.000000,0.000000,0.000000
4842622,9999,1383345600000,39,0.646086,0.550928,0.000000,0.014708,16.453566
4842623,9999,1383346200000,39,0.894907,0.518741,0.085995,0.085995,21.283461
4842624,9999,1383346200000,49,0.000000,0.000000,0.000000,0.144481,0.000000

In [45]:
Nov[0][Nov[0]['squareId'] == 1]

,squareId,timeInterval,countryCode,smsIn,smsOut,callIn,callOut,Internet
0,1,1383260400000,0,0.081363,NaN,NaN,NaN,NaN
1,1,1383260400000,39,0.141864,0.156787,0.160938,0.052275,11.028366
2,1,1383261000000,0,0.136588,NaN,NaN,0.027300,NaN
3,1,1383261000000,33,NaN,NaN,NaN,NaN,0.026137
4,1,1383261000000,39,0.278452,0.119926,0.188777,0.133637,11.100963
5,1,1383261600000,0,0.053438,NaN,NaN,NaN,NaN
6,1,1383261600000,39,0.330641,0.170952,0.134176,0.054601,10.892771
7,1,1383262200000,0,0.026137,NaN,NaN,NaN,NaN
8,1,1383262200000,39,0.681434,0.220815,0.027300,0.053438,8.622425
9,1,1383262800000,0,0.027300,NaN,NaN,NaN,NaN
10,1,1383262800000,39,0.243378,0.192891,0.053438,0.080738,8.009927
11,1,1383263400000,0,0.027300,NaN,NaN,NaN,NaN
12,1,1383263400000,39,0.056388,0.243378,0.027300,0.027300,8.118420
13,1,1383264000000,0,0.029712,NaN,NaN,0.003575,NaN
14,1,1383264000000,39,0.135339,0.084937,0.053438,0.001787,8.026270
15,1,1383264600000,0,0.027300,NaN,NaN,NaN,NaN
16,1,1383264600000,39,0.188777,0.026137,0.001787,0.054601,8.514179
17,1,1383265200000,39,0.242215,0.160314,0.108039,0.026137,6.833425
18,1,1383265800000,0,0.027300,NaN,NaN,0.027300,NaN
19,1,1383265800000,39,0.294490,0.245704,0.027300,0.080738,6.554605
20,1,1383266400000,0,0.026137,NaN,NaN,NaN,NaN
21,1,1383266400000,39,0.108039,0.108039,NaN,NaN,7.338716
22,1,1383267000000,0,0.027300,NaN,NaN,NaN,NaN
23,1,1383267000000,39,0.057013,0.144900,NaN,NaN,6.779705
24,1,1383267600000,39,0.139538,0.055225,NaN,NaN,7.192162
25,1,1383268200000,39,NaN,0.053438,NaN,0.027300,7.503314
26,1,1383268800000,39,0.027300,0.054601,0.027925,NaN,6.169534
27,1,1383269400000,0,0.027300,NaN,NaN,NaN,NaN
28,1,1383269400000,39,0.059963,0.056388,NaN,0.029088,7.605452
29,1,1383270000000,39,0.134176,0.053438,NaN,0.053438,6.569565
...,...,...,...,...,...,...,...,...
316,1,1383338400000,20,NaN,NaN,NaN,0.026137,NaN
317,1,1383338400000,39,0.564091,0.457215,0.219113,0.215000,8.967376
318,1,1383339000000,0,0.081901,0.026137,NaN,NaN,NaN
319,1,1383339000000,39,0.982290,0.213752,0.133637,0.056388,10.367670
320,1,1383339600000,39,0.329649,0.330812,0.159775,0.110989,10.943809
321,1,1383339600000,48,0.026137,NaN,NaN,NaN,NaN
322,1,1383340200000,0,0.138290,NaN,NaN,0.027300,NaN
323,1,1383340200000,39,0.276040,0.320089,0.244002,0.188777,10.656713
324,1,1383340800000,0,0.026137,NaN,NaN,NaN,NaN
325,1,1383340800000,39,0.267814,0.110450,0.134801,0.078412,10.588497
326,1,1383341400000,0,0.110450,NaN,NaN,NaN,NaN
327,1,1383341400000,39,0.664527,0.450776,0.105713,0.190026,9.717907
328,1,1383342000000,0,0.157988,NaN,NaN,NaN,NaN
329,1,1383342000000,39,0.265488,0.499267,0.081901,0.349715,9.142527
330,1,1383342600000,0,0.157988,NaN,NaN,NaN,NaN
331,1,1383342600000,39,0.434028,0.244627,0.055225,0.212589,7.898362
332,1,1383343200000,0,0.131850,NaN,NaN,NaN,NaN
333,1,1383343200000,359,NaN,0.027300,NaN,NaN,NaN
334,1,1383343200000,39,0.595052,0.247124,0.108663,0.263700,8.635192
335,1,1383343800000,0,0.026137,NaN,NaN,NaN,NaN
336,1,1383343800000,39,0.371825,0.317224,0.108039,0.079575,10.659124
337,1,1383344400000,0,0.078412,NaN,NaN,0.026137,NaN
338,1,1383344400000,39,0.053438,0.213752,0.054062,0.078412,9.063345
339,1,1383345000000,0,0.026137,NaN,NaN,NaN,NaN
340,1,1383345000000,1,0.026137,NaN,NaN,NaN,NaN
341,1,1383345000000,39,0.346226,0.293951,0.003575,0.052275,9.272482
342,1,1383345600000,0,0.027300,NaN,NaN,0.026137,NaN
343,1,1383345600000,39,0.111613,0.057013,0.026137,0.106876,7.957519
344,1,1383346200000,0,0.130687,NaN,NaN,NaN,NaN
345,1,1383346200000,39,0.398501,0.349715,0.053438,0.026137,13.228099

In [61]:
gridNum = 2
for i in range(1,gridNum):
    gridData = pd.DataFrame()
    for sheet in Nov[:3]:
        tmp = sheet[sheet['squareId'] == i]
        gridData = pd.concat([gridData,tmp],axis = 0).reset_index(drop = True)
    print(gridData)

      squareId   timeInterval  countryCode     smsIn    smsOut    callIn  \
0            1  1383260400000            0  0.081363       NaN       NaN
1            1  1383260400000           39  0.141864  0.156787  0.160938
2            1  1383261000000            0  0.136588       NaN       NaN
3            1  1383261000000           33       NaN       NaN       NaN
4            1  1383261000000           39  0.278452  0.119926  0.188777
5            1  1383261600000            0  0.053438       NaN       NaN
6            1  1383261600000           39  0.330641  0.170952  0.134176
7            1  1383262200000            0  0.026137       NaN       NaN
8            1  1383262200000           39  0.681434  0.220815  0.027300
9            1  1383262800000            0  0.027300       NaN       NaN
10           1  1383262800000           39  0.243378  0.192891  0.053438
11           1  1383263400000            0  0.027300       NaN       NaN
12           1  1383263400000           39  0.056388  0.243378  0.027300
13           1  1383264000000            0  0.029712       NaN       NaN
14           1  1383264000000           39  0.135339  0.084937  0.053438
15           1  1383264600000            0  0.027300       NaN       NaN
16           1  1383264600000           39  0.188777  0.026137  0.001787
17           1  1383265200000           39  0.242215  0.160314  0.108039
18           1  1383265800000            0  0.027300       NaN       NaN
19           1  1383265800000           39  0.294490  0.245704  0.027300
20           1  1383266400000            0  0.026137       NaN       NaN
21           1  1383266400000           39  0.108039  0.108039       NaN
22           1  1383267000000            0  0.027300       NaN       NaN
23           1  1383267000000           39  0.057013  0.144900       NaN
24           1  1383267600000           39  0.139538  0.055225       NaN
25           1  1383268200000           39       NaN  0.053438       NaN
26           1  1383268800000           39  0.027300  0.054601  0.027925
27           1  1383269400000            0  0.027300       NaN       NaN
28           1  1383269400000           39  0.059963  0.056388       NaN
29           1  1383270000000           39  0.134176  0.053438       NaN
...        ...            ...          ...       ...       ...       ...
995          1  1383510600000           39  0.651979  0.492204  0.248201
996          1  1383511200000            0  0.191728       NaN       NaN
997          1  1383511200000          359       NaN  0.027300       NaN
998          1  1383511200000           39  0.563515  0.507212  0.379342
999          1  1383511800000            0  0.053438       NaN       NaN
1000         1  1383511800000           39  0.279162  0.355787  0.164427
1001         1  1383512400000            0  0.058176       NaN       NaN
1002         1  1383512400000           39  0.546976  0.575978  0.029712
1003         1  1383513000000            0  0.160314       NaN       NaN
1004         1  1383513000000           39  1.189761  1.368145  0.188238
1005         1  1383513600000            0  0.080738       NaN       NaN
1006         1  1383513600000           39  0.462492  0.378803  0.187614
1007         1  1383514200000            0  0.080738       NaN       NaN
1008         1  1383514200000           39  0.569282  0.354992  0.054062
1009         1  1383514800000            0  0.003575       NaN       NaN
1010         1  1383514800000           39  0.545556  0.412004  0.026137
1011         1  1383515400000            0  0.027300       NaN       NaN
1012         1  1383515400000           39  0.596044  0.220277  0.087888
1013         1  1383516000000           39  1.240163  0.545017  0.215539
1014         1  1383516600000           39  0.355530  0.593632       NaN
1015         1  1383516600000           44  0.027300  0.027300       NaN
1016         1  1383517200000            0  0.029088       NaN       NaN
1017         1  1383517200000           39  0.243378  0.541357  0.052275
1018         1  1383517800000            0  0.027300       NaN       NaN
1019         1  1383517800000           39  0.054601  0.136502  0.054062
1020         1  1383517800000           44  0.027300  0.027300       NaN
1021         1  1383518400000            0  0.027300       NaN       NaN
1022         1  1383518400000           39  0.136502  0.054601  0.001787
1023         1  1383519000000            0  0.078412       NaN       NaN
1024         1  1383519000000           39  0.133013  0.133013  0.026137

       callOut   Internet
0          NaN        NaN
1     0.052275  11.028366
2     0.027300        NaN
3          NaN   0.026137
4     0.133637  11.100963
5          NaN        NaN
6     0.054601  10.892771
7          NaN        NaN
8     0.053438   8.622425
9          NaN        NaN
10    0.080738   8.009927
11         NaN        NaN
12    0.027300   8.118420
13    0.003575        NaN
14    0.001787   8.026270
15         NaN        NaN
16    0.054601   8.514179
17    0.026137   6.833425
18    0.027300        NaN
19    0.080738   6.554605
20         NaN        NaN
21         NaN   7.338716
22         NaN        NaN
23         NaN   6.779705
24         NaN   7.192162
25    0.027300   7.503314
26         NaN   6.169534
27         NaN        NaN
28    0.029088   7.605452
29    0.053438   6.569565
...        ...        ...
995   0.166839  13.834324
996        NaN        NaN
997        NaN        NaN
998   0.245790  12.653671
999        NaN        NaN
1000  0.431078  11.837255
1001       NaN        NaN
1002  0.189940  11.942109
1003       NaN        NaN
1004  0.212050  12.552819
1005       NaN        NaN
1006  0.134176  13.288122
1007       NaN        NaN
1008  0.081901  10.826551
1009  0.027300        NaN
1010  0.082526   9.599181
1011       NaN        NaN
1012  0.056388  10.102685
1013  0.109826   9.192550
1014  0.054601  10.798823
1015       NaN        NaN
1016       NaN        NaN
1017  0.027925   9.476305
1018       NaN        NaN
1019  0.081363  12.602686
1020       NaN        NaN
1021       NaN        NaN
1022  0.052275   8.938475
1023       NaN        NaN
1024  0.105713   9.975573

[1025 rows x 8 columns]